// Resets, Clearfix, etc
@import 'partials/_clearfix';
@import 'partials/_reset';
@import 'partials/_mixin';
// Variables
$dark-color: green;
$light-color: blue;
$bright-color: red;
$padding: 20px;
// Media Query Ranges
$mobile-screen: screen and (min-width: 320px) and (max-width: 599px);
$medium-screen: screen and (min-width: 600px) and (max-width: 899px);
$large-screen: screen and (min-width: 900px) and (max-width: 1280px);




// Mixins

// Styles
body{
  background-color: orange;
  text-align: center;
  color: #EEE;
  @media #{$large-screen} {   // how you use a variable to color media queries
    background-color: $bright-color;
    ul {
      li {
        display: inline-block;
        margin-right: 10px;
        width: 250px;

      }
    }

  }
  @media #{$medium-screen} {   // how you use a variable to color media queries
    background-color: $light-color;
    ul {
      li {
        display: inline-block;
      }
    }

  }
  @media #{$mobile-screen} {   // how you use a variable to color media queries
    background-color: $dark-color;
    ul {
      li {
        display: inline-block;
      }
    }

  }


}

h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  @include block_font;
}

h1{
  padding: $padding;
}

h2{

}


.block_family{
  max-width:1000px;
  margin:auto;
}

.block_family li {

  background-color: #222;
  margin-bottom: 20px;
  padding: 20px;

}

